rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /catalog_ingredients/{ingredientId} {
      allow read, write: if true;
    }
    match /app_config/{configId} {
      allow read: if true;
      allow write: if false;
    }
  }
}
